/* Checkout Form */
textarea {
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

textarea:focus {
    border-color: var(--secondary-color);
}

/* Checkout Layout */
h1 {
    color: var(--primary-color);
}